.body{
    background-color: black;
}
.container{
    width: 500px;
    background-color: white;
    }
.img{
    width: 500px;
}
.encabezado{
    display:flex;
    flex-direction:row;
}
.fa-regular fa-bookmar{
    align-items: flex-end;
}
.img{
    margin:black;
}