.body{
    background-color: white;
}
.container{
    width: 500px;
    }
.img{
    width: 500px;
}
.encabezado{
    display:flex;
    flex-direction:row;
}
.fa-regular fa-bookmar{
    align-items: flex-end;
}